// Site header

.site-header
  background-color: $white
  box-shadow: 0 0.2em 0.2em hsla(0, 0%, 0%, 0.2)
  z-index: 3

.burger-btn,
.cart,
.nav-search
  display: inline-block
  font-size: 2em
  padding: 0.25em
  cursor: pointer

.burger-btn
  z-index: 10
  @media (min-width: 768px)
    display: none

.logo
  text-decoration: none
  font-size: 2em
  font-family: Poppins, sans-serif
  color: $darkblue

.nav
  transition: all 200ms ease-in
  @media (max-width: 767px)
    visibility: hidden
    height: 100vh
    min-width: 38%
    background: $offwhite
    position: absolute
    top: 0
    left: 0
    transform: translateX(-100%)
  @media (min-width: 768px)
    display: inline-block
  ul
    display: flex
    @media (max-width: 767px)
      margin-top: 6em
      height: calc(100% - 6em)
      flex-flow: column
      justify-content: space-around
  .nav-link
    font-size: 1.5em
    color: $darkblue
    padding: 0.5em
    margin: 0 0.5em
    text-decoration: none
    display: inline-block
    &:visited
      color: $darkblue
    @media (max-width: 767px)
      padding: 2rem
      margin: 1rem
      font-size: clamp(1.4rem, 5vh, 3rem)
  .nav-item
    @media (max-width: 767px)
      margin: 0 auto

.overlay
  visibility: hidden
  transition: all 200ms ease-in
  position: fixed
  background: hsla(0, 0%, 0%, 0.5)
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: -10
